.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(247, 248, 167, 0.5899999737739563) 0%, rgba(0, 147, 255, 0.5400000214576721) 98%, rgba(36, 36, 30, 0) 100%);
}

.container{
    width: 700px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-radius4);
    display: flex;  
}

.left_side{
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: transparent;
    flex-direction: column;

}

.right_side{
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    background-image: linear-gradient(180deg, rgba(247, 248, 167, 0.5899999737739563) 0%, rgba(0, 147, 255, 0.5400000214576721) 98%, rgba(36, 36, 30, 0) 100%);
    flex-direction: column;
    

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{   
    text-align: center;
    font-style: Regular;
    font-family: Fanwood Text;
    font-weight: 400;
    font-size: 40px;
}

h2{
    text-align: center;
    font-style: Regular;
    font-family: Fanwood Text;
    font-weight: 200;
    font-size: 30px;
}

form{
    margin-top: 15%; 
}

label[for="email"], label[for="password"]{
    font-size: 30px;
}

input[type="text"], input[type="email"], input[type="password"] {
    height: 8%;
    width: 55%;
    font-size: 16px;
}

button{ 
    background-color: rgb(170, 203, 245);
    width: 176px;
    height: 35px;
    font-family: Fanwood Text;
    font-size: 18px;
    border-width: 1px;
    border-color: rgb(201, 201, 201)
}



@media only screen and (max-width: 700px) {
  .container {   
    left: 75%;
  }
}

@media only screen and (max-width: 700px) {
    label[for="email"], label[for="password"] {
    text-align: left;
  }
}



  